* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  color: #fff;
}

/*-----------------Header--------------------*/

header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: blue;
  font-weight: bold;
}

/*--Header-Logo--*/
.header-logo {
  width: 50%;
  padding: 20px;
}

.header-logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #fff;
}

img {
  width: 70px;
  border-radius: 5px;
}

.header-text {
  font-size: 20px;
}

/*--Header-Info Section--*/

.header-info {
  display: flex;
}

ul {
  display: flex;
  padding: 35px;
  gap: 30px;
}

li {
  list-style-type: none;
}

.header-link {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  padding: 15px;
}

.header-link:hover {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.6);
}

/*------------------Container--------------------------*/

p {
  margin-top: 5px;
  margin-bottom: 5px;
}

/* .container {
  width: 70%;
  margin: 50px auto;
  margin-top: 200px;
  text-align: center;
  padding: 30px;
  border: 1px groove;
  border-radius: 15px;
  background-color: #fff;
  color: black;
} */

.container {
  width: 60%;
  padding: 40px;
  margin: 90px auto;
  margin-top: 190px;
  background-color: #fff;
  text-align: center;
  font-size: 16px;
  border: 1px groove;
  border-radius: 15px;
}

.container-text {
  color: gray;
}

#button {
  width: 90%;
  padding: 12px;
  background-color: lightskyblue;
  border: none;
  border-radius: 20px;
  font-weight: bold;
}
#button:hover {
  background-color: blue;
}

/*-----------------Footer------------------*/
footer {
  width: 100%;
  padding: 20px;
  background-color: blue;
  color: #fff;
  display: flex;
}

/*--Footer-Logo Section--*/
.footer-logo {
  width: 50%;
  padding: 20px;
}

.footer-logo-link {
  display: flex;
  align-items: center;
  gap: 12px;
  text-decoration: none;
  color: #fff;
}

img {
  width: 70px;
  border-radius: 5px;
}

.footer-text {
  font-size: 20px;
}

/*--Footer-Info Section--*/

.footer-info {
  width: 50%;
  /* padding: 20px; */
  display: flex;
  gap: 80px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-items a {
  text-decoration: none;
  color: #fff;
}

.footer-items a:hover {
  text-decoration: underline;
  color: yellow;
}
