* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: whitesmoke;
  font-family: Arial, sans-serif;
  color: #fff;
}

/*-----------------Header--------------------*/

.header {
  position: fixed;
  top: 0px;
  width: 100%;
  background-color: blue;
  color: #fff;
  z-index: 10;
}

nav {
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.logo-link {
  display: flex;
  align-items: center;
  gap: 12;
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 80px;
  border: 1px groove;
  border-radius: 5px;
}

.logo-text {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links ul li {
  list-style: none;
  display: inline-block;
  padding: 8px 12px;
  position: relative;
}

.nav-links ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}

/*
.nav-links a:active{
    color: #fff;
}
    */

/*------------------Container--------------------------*/

.container {
  width: 70%;
  margin: 50px auto;
  margin-top: 200px;
  text-align: center;
  padding: 30px;
  border: 1px groove;
  border-radius: 5px;
  background-color: #fff;
  color: black;
}

/*-----------------Footer------------------*/
.footer {
  width: 100%;
  padding: 30px 40px;
  background-color: blue;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/*
nav {
    display: flex;
    padding: 2% 6%; 
    justify-content: space-between;
    align-items: center;

}*/

.brand {
  display: flex;
  align-items: center;
}

.logo-link {
  display: flex;
  align-items: center;
  gap: 12;
  text-decoration: none;
  color: #fff;
}

.logo {
  width: 80px;
  border: 1px groove;
  border-radius: 5px;
}

.logo-text {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

.footer-info {
  display: flex;
  gap: 80px;
}

.footer-items {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.footer-items a {
  text-decoration: none;
  color: #fff;
}

.footer-items a:hover {
  text-decoration: underline;
  color: yellow;
}
